.venv
*.pyc
__pycache__/
.git
.gitignore
node_modules
frontend/node_modules
frontend/.parcel-cache
frontend/.next
dist
build
.env
.env.*
*.log
.npm
.vscode
.idea
.DS_Store
__pycache__/
*.egg-info
coverage/
*.sqlite3
*.db
.ipynb_checkpoints
