# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# VS Code Settings
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Node
node_modules/

# Runtime uploads
backend/uploads/

# FAISS generated indexes
backend/faiss_indexes/

# Archives
*.zip