body {
    margin: 0;
    background: #F8FAFC;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 20px;
}